<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs Lynda api call</title>
    <link rel="stylesheet" href="../../reset.css">
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div 
                v-if='loading'
                class="loading">
                Loading ...
            </div>
            <div class="content" v-else >
                <ul>
                    <li 
                    v-for='item in asteroids'>
                    {{item.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>